@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* GLOBAL E BASE */
*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
}
/* <<<<< FIM >>>>>*/

/* HEADER */
header{
    position: relative;
    background-color: black;
    height: 20vw;
}

header p, a, h1{
    color: white;
    text-align: center;
    text-decoration: none;
}

h1#titulo-principal{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);

    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    font-size: 10vw;
}

div#descrição{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}

a:hover{
    text-decoration: underline;
}
/* <<<<< FIM >>>>>*/


/* SECTIONS */
section p{
    line-height: 2em;
    font-size: 3vw;
    padding: 20px 20px 0px 20px;
    margin-bottom: 40px;
    font-family: "Sriracha", cursive;
}
/* <<<<< FIM >>>>>*/


/* ARTICLES */
article div{
    padding-top: 30px;
    padding-bottom: 20px;
}

article div p{
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    width: max-content;
    margin-left: 10px;
}

#isolate-article{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: max-content;
}
/* <<<<< FIM >>>>>*/


/* CLASSES PARA REUTILIZAR */
.txt-shadow{
    text-shadow: 1px 1px 1px black;
}

.bg-fixed{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
/* <<<<< FIM >>>>>*/


/* IMAGENS DE BACKGROUND */
#img1{
    background-image: url(imagens/background001.jpg);
   
}
#img2{
    background-image: url(imagens/background002.jpg);
}
/* <<<<< FIM >>>>>*/


/* FOOTER */
footer{
    background-color: black;
    width: 100%;
}
footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
}
/* <<<<< FIM >>>>>*/